# Main pipeline
numpy==1.26.4
torch==2.2.1
python-gdcm==3.0.26
DLICV
DLMUSE
nibabel>=5.2
scipy
SimpleITK

# Forced versions to fix compatibility issues in dependencies
numpy==1.26.4
nnunetv2==2.5.1
acvl_utils==0.2.5
blosc2==3.0.0b4
# Developer tools
pytest
pytest-cov
huggingface_hub
argparse
pathlib
pre-commit
